
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutUserDashboard.cshtml";
}
<div class="container" style="margin-bottom:30px;">
    <h2>Ocean Tourism </h2>
    <h5>Contact our Customer Support executive</h5>
    <address>
        Ocean Tourism<br />
        Katraj Road, WA 98052-6399, Pune<br />
        Maharshtra, India <br />
        <abbr title="Phone">Phone: +91 9834871781</abbr>

    </address>

    <address>
        <strong>Customer Support:</strong>   <a href="mailto:Jhon.Peter@coeantourism.com">Jhon.Peter@coeantourism.com</a><br />
        <strong>Contact No: +91 9865487514</strong><br />
        <strong>Marketing:</strong> <a href="mailto:Hinal.Patil@coeantourism.com">Hinal.Patil@coeantourism.com</a><br />
        <strong>Contact No: +91 9865487515</strong>
    </address>
    <a href="@Url.Action("Index", "User")" class="btn btn-primary">Back to dashboard</a>
</div>